*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.7rem;
    background: #FCFCFC;
    border-radius: 0.2rem;
}
.StudentManager{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}
.card{
    width: 100%;
    height: fit-content;
    border: 0.1rem solid #D1D2D2;
    border-radius: 0.4rem;
    align-items: center;
    background: #FFFFFF;
    padding: 0.5rem 0.7rem;
}
.card h2{
    font-size: 1.1rem;
    font-weight: 500;
}
.cardinputs{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}
.cardinputs input{
    border: 0.1rem solid #D1D2D2;
    outline: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;

}
.age,.Grade{
    width: 8rem;
}
.cardinputs input::placeholder{
    font-size: 1.1rem;
}
.cardinputs button{
    border: 0.1rem solid #D1D2D2;
    outline: none;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: 500;
}
